* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--mn-color: #463f3a;
	--sec-color: #f55856;
	--bg-color1: #f5f6f1;
}
.wrapper {
	max-width: 1600px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 1px 1px #ddd;
	        box-shadow: 0px 0px 1px 1px #ddd;
}
.inner-wrapper {
	max-width: 1179px;
	margin: 0 auto;
}

body {
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

header {
	position: relative;
}

.burger-menu {
	display: none;
}
.navbar-top {
	/* font-family: 'Montserrat', sans-serif; */
	color: var(--mn-color);
	height: 40px;
}
.info {
	display: flex;
	gap: 8px;
}


.mynav li {
	display: inline-block;
	margin-left: 30px;
}
.mynav li:first-child {
	margin-left: 0;
}
.mynav li a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	font-weight: 600;
}

.flex-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.navbar-bottom {
	background: var(--bg-color1);
	
	display: flex;
	align-items: center;
	height: 163px;
}

.logo-text {
	float: left;
	margin-right: 10px;
}
.logo-text h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}
.logo-text p {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
}

.mynav2 li {
	display: inline-block;
	margin-left: 20px;
}

.mynav2 li:first-child {
	margin-left: 0;
}
.mynav2 .line {
	border-right: 2px solid var(--sec-color);
	height: 20px;
	-webkit-transform: skew(-24deg, 15deg);
	        transform: skew(-24deg, 15deg);
}
.mynav2 li a {
	text-decoration: none;
	color: var(--mn-color);
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}


.items {
	float: left;
	margin-right: 5px;
}
.items h5 {
	font-size: 15px;
	color: #666;
	padding-bottom: 5px;
}
.price .fa {
	font-size: 36px;
}

.hero-section {
	padding: 40px 0;
}
.bg-img {
	height: 520px;
	background: url(../img/shoe-header.png) no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	position: relative;
}
.slogan h2 {
	font-size: 60px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 90px;
	line-height: 145%;
}
.bg-logo {
	position: absolute;
	top: 35%;
	right: 0;
	color: #fff;
}

.services {
	display: flex;
    justify-content: space-between;
    gap: 2.25rem;
}

.feat {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
	background: var(--bg-color1);
	text-align: center;
	padding: 30px 0;
	flex: 1;
	color: var(--mn-color);
}
.feat-third {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
	
	background: var(--bg-color1);
	text-align: center;
	padding: 30px 0;
	color: var(--mn-color);
}
.feat h3, .feat-third h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.feat p, .feat-third p {
	font-weight: bold;
}
.feat .reddish, .feat-third .reddish, .categorie-box .reddish, .categorie-box3 .reddish {
	color: var(--sec-color);
	font-weight: 600;
	font-style: normal;
}

.categories {
	background: #f8f8f8;
	padding: 40px 0;
}
.cat-image-box {
	position: relative;
	padding-top: 350px;
	overflow: hidden;
}
.cat-image-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.categories h1 {
	color: var(--mn-color);
	text-align: center;
	padding-bottom: 40px;
	position: relative;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.categories h1 span {
	background: #f8f8f8;
	position: relative;
	z-index: 1;
	padding: 0 15px;
}
.categories h1:before {
	position: absolute;
	content: "";
	display: block;
	height: 3px;
	background: var(--mn-color);
	top: 18%;
	width: 100%;
}
.categories h1:after {
	position: absolute;
	content: "";
	display: block;
	height: 1px;
	background: var(--mn-color);
	top: 25%;
	width: 100%;
}

.cat-flex {
	display: flex;
	justify-content: space-between;
	gap: 19px;
}
.categorie-box {
	background: #fff;
	padding-bottom: 20px;
	flex: 1;
}

.categorie-box img {
	width: 100%;
}
.categorie-box h3, .categorie-box3 h3 {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--mn-color);
	padding: 10px;
}
.categorie-box p, .categorie-box3 p {
	color: var(--mn-color);
	font-style: italic;
	font-weight: 500;
	padding: 10px;
	line-height: 1.5em;
}
#arrivals {
	background: #fff;
	padding: 50px 0;
}
#arrivals h1 {
	color: var(--mn-color);
	text-align: center;
	padding-bottom: 40px;
	position: relative;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
#arrivals h1 span {
	background: #fff;
	position: relative;
	z-index: 1;
	padding: 0 15px;
}
#arrivals h1:before {
	position: absolute;
	content: "";
	display: block;
	height: 3px;
	background: var(--mn-color);
	top: 18%;
	width: 100%;
}
#arrivals h1:after {
	position: absolute;
	content: "";
	display: block;
	height: 1px;
	background: var(--mn-color);
	top: 25%;
	width: 100%;
}
.arrivals-box {	
	flex: 1;
}

.arrivals-box img, .arrivals-box4 img {
	width: 100%;
}
.arrivals-box h4, .arrivals-box4 h4 {
	font-size: 18px;
	padding: 15px 0;
	font-weight: 600;
	color: var(--mn-color);
}
.arrivals-box p, .arrivals-box4 p {
	font-size: 18px;
	font-weight: 900;
	padding-bottom: 20px;
}
.arrivals-box a, .arrivals-box4 a {
	text-decoration: none;
	color: #fff;
	background: var(--mn-color);
	padding: 10px 0;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
}

.image-box {
	position: relative;
    overflow: hidden;
    padding-top: 200px;
    object-fit: cover;
}

.image-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#products {
	background: #f8f8f8;
	padding: 50px 0;
}
#products h1 {
	color: var(--mn-color);
	text-align: center;
	padding-bottom: 40px;
	position: relative;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
#products h1 span {
	background: #f8f8f8;
	position: relative;
	z-index: 1;
	padding: 0 15px;
}
#products h1:before {
	position: absolute;
	content: "";
	display: block;
	height: 3px;
	background: var(--mn-color);
	top: 18%;
	width: 100%;
}
#products h1:after {
	position: absolute;
	content: "";
	display: block;
	height: 1px;
	background: var(--mn-color);
	top: 25%;
	width: 100%;
}
.products-box {
	flex: 1;
}

.products-box h4, .products-box4 h4 {
	font-size: 18px;
	padding: 15px 0;
	font-weight: 600;
	color: var(--mn-color);
}
.products-box p, .products-box4 p {
	font-size: 18px;
	font-weight: 900;
	padding-bottom: 20px;
}
.products-box a, .products-box4 a {
	text-decoration: none;
	color: #fff;
	background: var(--mn-color);
	padding: 10px 0;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
}

#blog {
	padding-top: 50px;
}
#blog h1 {
	color: var(--mn-color);
	text-align: center;
	padding-bottom: 40px;
	position: relative;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
#blog h1 span {
	background: #fff;
	position: relative;
	z-index: 1;
	padding: 0 15px;
}
#blog h1:before {
	position: absolute;
	content: "";
	display: block;
	height: 3px;
	background: var(--mn-color);
	top: 18%;
	width: 100%;
}
#blog h1:after {
	position: absolute;
	content: "";
	display: block;
	height: 1px;
	background: var(--mn-color);
	top: 25%;
	width: 100%;
}
.blog-flex {
	display: flex;
	justify-content: space-between;
	gap: 31px;
	padding-bottom: 50px;

}
.blog-image-box {
	position: relative;
	overflow: hidden;
	padding-top: 180px;
}
.blog-image-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blog-box {
	flex: 1;
}


.blog-box h5, .blog-box3 h5 {
	font-size: 18px;
	padding: 15px 0;
	font-weight: 600;
	color: var(--mn-color);
}
.blog-box p, .blog-box3 p {
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 1.3em;
}
.blog-box a, .blog-box3 a {
	text-decoration: none;
	color: var(--sec-color);
	font-weight: bold;
}
.blog-title {
	padding: 50px 0;
	text-align: center;
	color: var(--mn-color);
	background: #f2f2f0;
}
.blog-title h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	padding: 15px;
}


.foo1 {
	background: var(--mn-color);
	padding: 80px 0;
}
.foo-flex {
	display: flex;
}
.foologo {
	color: #fff;
	margin-right: 120px;
}
.foologo-text {
	float: left;
	margin-right: 7px;
}
.foologo-text h3 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
}
.foologo-text p {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 15px;
}
.foologo img {
	width: 25px;
	margin-top: 2px;
}
.foonav {
	margin-top: 0px;
	margin-bottom: 3rem;
	/* margin-left: 120px; */
}
.foonav li {
	display: inline-block;
	margin-left: 20px;
}
.foonav li:first-child {
	margin-left: 0;
}
.foonav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.foonav .line {
	border-right: 2px solid var(--sec-color);
	height: 20px;
	-webkit-transform: skew(-24deg, 15deg);
	        transform: skew(-24deg, 15deg);
}
.foo1 p {
	text-align: center;
	color:#fff;
	font-size: 14px;
}

.foo2 {
	padding: 15px 0;
	background: #f8f8f8;
}
.foo2-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}
.social {
	
}
.social a {
	color: var(--mn-color);
	padding-right: 10px;
	font-size: 18px;
}
.foo2 p {
	
}

@media(max-width: 1448px) {
	.inner-wrapper {
		max-width: 1279px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media(max-width: 1024px) {
	.navbar-top {
		display: none;
	}
	.navbar-bottom {
		height: 240px;
	}
	.flex-nav {
		flex-direction: column;
		padding: 2rem 0;
		
	}
	.services {
		flex-direction: column;
		gap: 1.25rem;
	}
	.cat-flex, .blog-flex, .foo-flex {
		flex-direction: column;
		gap: 3rem;
	}
}

@media(max-width: 640px) {
	.inner-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.burger-menu {
		display: block;
		position: absolute;
		width: 40px;
		top: 32px;
		right: 12px;
		z-index: 100;
	}
	.price {
		display: none;
	}

	.burger-menu .line {
		height: 4px;
		background: #463f3a;
		margin-bottom: 6px;
	}
	.navbar-bottom {
		height: 160px;
	}
	.mynav2 {
		display: none;
	}
	.bg-img {
		height: 460px;
		background-size: cover;
	}
	.slogan {
		width: 100%;
	}
	.foologo {
		display: flex;
		margin: 0;
	    justify-content: center;
	}
	.foonav {
		display: none;
	}
	.slogan h2 {
		text-align: center;
		margin-left: 0px;
		font-size: 3rem;
	}
	.bg-logo {
		display: none;
	}
	.foo2-flex {
		flex-direction: column;
	}
	.social {
		margin-bottom: 1rem;
	}
}